:root {
    --roxo: #6a0dad;
}

body {
    background-color: #f5f5f5;
}

.bg-roxo {
    background-color: var(--roxo) !important;
}

.text-roxo {
    color: var(--roxo);
}

.btn-roxo {
    background-color: var(--roxo);
    color: #fff;
    border: none;
}

.btn-roxo:hover {
    background-color: #5a0bb5;
}

.footer-roxo {
    background-color: var(--roxo) !important;
    color: white !important;
    margin-bottom: -70;
}

.footer-roxo a {
    color: white !important;
}

.footer-roxo a:hover {
    color: #e0d2ff !important;
}