:root {
    --roxo: #6a0dad;
}

body {
    background-color: #f5f5f5;
}

.bg-roxo {
    background-color: var(--roxo) !important;
}

.text-roxo {
    color: var(--roxo);
}

.btn-roxo {
    background-color: var(--roxo);
    color: #fff;
    border: none;
}

.btn-roxo:hover {
    background-color: #5a0bb5;
}

.footer-roxo {
    background-color: var(--roxo) !important;
    color: white !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}


.footer-roxo a {
    color: white !important;
}

.footer-roxo a:hover {
    color: #e0d2ff !important;
}
