:root {
    --roxo: #6a0dad;
}

body {
    background-color: #f5f5f5;
}

.bg-roxo {
    background-color: var(--roxo) !important;
}

.text-roxo {
    color: var(--roxo);
}

.btn-roxo {
    background-color: var(--roxo);
    color: #fff;
    border: none;
}

.btn-roxo:hover {
    background-color: #5a0bb5;
}