html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
}

.container {
flex: 1;
}

footer {
background-color: #6f42c1; /* cor roxa */
color: white;
}

:root {
    --roxo: #6a0dad;
}

body {
    background-color: #f5f5f5;
}

.bg-roxo {
    background-color: var(--roxo) !important;
}

.text-roxo {
    color: var(--roxo);
}

.btn-roxo {
    background-color: var(--roxo);
    color: #fff;
    border: none;
}

.btn-roxo:hover {
    background-color: #5a0bb5;
}

.logo-willkadasa {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;  
    letter-spacing: 4px;   
    color: var(--roxo);
    text-align: center;
    margin-top: 20px;
    margin-bottom: -70px;
}

.footer-roxo {
    background-color: var(--roxo) !important;
    color: white !important;
    margin-bottom: -70;
}

.footer-roxo a {
    color: white !important;
}

.footer-roxo a:hover {
    color: #e0d2ff !important;
}

